<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CRUD Node.js and Mysql</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/products">Products</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="/">Main</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                    <li class="nav-item">
                            <a class="nav-link" href="/Products_crud">CRUD</a>
                    </li>
                </ul>
    </div>
</nav>

   
<div class="clear"></div>
  <div class="container">

    <h2>Products List</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% for(let i = 0; i < products.length; i++) { %>
         
        <tr>
          <td><%= products[i]._id %></td>
          <td><%= products[i].name %></td>
          <td><%= products[i].img %></td>
          <td><%= products[i].price %></td>
          <td><%= products[i].description %></td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= products[i]._id %>" data-name="<%= products[i].name %>"  data-img="<%= products[i].img %>" data-price="<%= products[i].price %>" data-description="<%= products[i].description %>">Edit</a>
          </td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= products[i]._id %>">Delete</a>
          </td>
        </tr>
       
        <% } %>
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/products_crud/add" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="name" required>
            </div>

            <div class="form-group">
                <input type="text" name="img" class="form-control" placeholder="img" required>
            </div>
            <div class="form-group">
              <input type="text" name="price" class="form-control" placeholder="price" required>
          </div>

          <div class="form-group">
              <input type="text" name="description" class="form-control" placeholder="description" required>
          </div>
     </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Product Modal-->
   <form action="/products_crud/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="text" name="name" class="form-control name" placeholder="name" required>
            </div>

            <div class="form-group">
                <input type="text" name="img" class="form-control img" placeholder="img" required>
            </div>
            <div class="form-group">
              <input type="text" name="price" class="form-control price" placeholder="price" required>
          </div>

          <div class="form-group">
              <input type="text" name="description" class="form-control description" placeholder="description" required>
          </div>
      </div>
            <div class="modal-footer">
              <input type="text" name="product_id" class="product_id">
              &nbsp;&nbsp;
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/products_crud/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">Delete Product</h5>
 	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
						<strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
						<input type="hidden" name="product_id2" class="form-control product_id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      		</div>
 	        </div>
 	     </div>
 	 </form>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){


	//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var product_id = $(this).data('id');
        var name = $(this).data('name');
        var img = $(this).data('img');
        var price = $(this).data('price');
        var description = $(this).data('description');
        $('#EditModal').modal('show');

        $('.name').val(name);
        $('.img').val(img);
        $('.price').val(price);
        $('.description').val(description);
        $('.product_id').val(product_id);
      });



	//showing modal for delete record
	  $('#mytable').on('click','.delete',function(){
        var product_id2 = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(product_id2);
      });

    });
</script>
</body>
</html>
