<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
 



</head>

<body>

  <% include ../partials/nav.ejs %>

  <script src="/public/myscripts.js"></script>


  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <div id="wrapper">
  <div class="cart-icon-top">
  </div>
  
  <div class="cart-icon-bottom">
  </div>
  
  <div id="checkout">
    CHECKOUT
  </div>
  
  <div id="info">
    <p class="i1">Add To Cart</p>
  <p>    Follow me on 
   <a href="https://facebook.com/" style="color:#2aa9e0" target="_blank">Facebook</a> | 
  <a style="color:#2aa9e0" href="https://twitter.com/" target="_blank">Twitter</a> | 
  <a href="https://instagram.com/" style="color:#2aa9e0"target="_blank">Instagram</a>
    </p>
    
  </div>
  
  <div id="header">	
    <ul>
          <li><a href="">EPIC WINS</a></li>
          <li><a href="">BRANDS</a></li>
          <li><a href="">DESIGNERS</a></li>
          <li><a href="">CONTACT</a></li>                                              
      </ul>		
  </div>
  
  <div id="sidebar">
    <h3>CART</h3>
      <div id="cart">
        <span class="empty">No items in cart.</span>       
      </div>
     
   
  
  <div id="grid-selector">
         <div id="grid-menu">
              View:
             <ul>           	   
                 <li class="largeGrid"><a href=""></a></li>
                 <li class="smallGrid"><a class="active" href=""></a></li>
   </ul>
  </div>
    
  
   <div class="product">
  <div class="info-large">
    <h4>Baseball</h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Baseball</span>    
                          <p>Play On</p>                       
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
              
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
             
  <li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
  <li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
  <li><img src="https://live.staticflickr.com/8659/16173880801_6ce4e19ccf_b.jpg" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
      
    <div class="product">
  <div class="info-large">
    <h4>Running Shoes</h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="https://c.pxhere.com/photos/94/9b/sneaker_running_shoe_shoe_sport_shoe_run_jog_sport_race-673672.jpg!d" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Running shoes</span>    
                          <p>Play On</p>                       
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
              
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
             
  <li><img src="https://www.maxpixel.net/static/photo/1x/Jog-Run-Shoes-Sneakers-Sports-Shoes-Running-Shoes-1024975.jpg" alt="" /></li>
  <li><img src="https://cdn.pixabay.com/photo/2015/11/05/22/33/sneakers-1024979_960_720.jpg" alt="" /></li>
  <li><img src="https://cdn.pixabay.com/photo/2015/11/05/22/31/sneakers-1024972_960_720.jpg" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
    
    <div class="product">
  <div class="info-large">
    <h4></h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="http://c1.peakpx.com/wallpaper/94/357/304/imitation-leather-ball-sport-football-wallpaper-preview.jpg" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Soccer Ball</span>    
                          <p>Play On</p>                       
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
              
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
             
  <li><img src="http://c1.peakpx.com/wallpaper/94/357/304/imitation-leather-ball-sport-football-wallpaper-preview.jpg" alt="" /></li>
  <li><img src="http://c1.peakpx.com/wallpaper/94/357/304/imitation-leather-ball-sport-football-wallpaper-preview.jpg" alt="" /></li>
  <li><img src="http://c1.peakpx.com/wallpaper/94/357/304/imitation-leather-ball-sport-football-wallpaper-preview.jpg" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
    
    
    <div class="product">
  <div class="info-large">
    <h4>Soccer Ball</h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="https://cdn.pixabay.com/photo/2019/03/06/15/27/adidas-4038397_960_720.jpg" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Cleats</span>    
                          <p>Play On</p>                       
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
              
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
             
  <li><img src="https://cdn.pixabay.com/photo/2019/03/06/15/27/adidas-4038397_960_720.jpg" alt="" /></li>
  <li><img src="https://cdn.pixabay.com/photo/2019/03/06/15/27/adidas-4038397_960_720.jpg" alt="" /></li>
  <li><img src="https://cdn.pixabay.com/photo/2019/03/06/15/27/adidas-4038397_960_720.jpg" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
    
    
    <div class="product">
  <div class="info-large">
    <h4>Mouth Guard</h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Knirscherschiene.jpg/800px-Knirscherschiene.jpg" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Mouth Guard</span>    
                          <p>Play On</p>                       
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
              
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
             
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Knirscherschiene.jpg/800px-Knirscherschiene.jpg" alt="" /></li>
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Knirscherschiene.jpg/800px-Knirscherschiene.jpg" alt="" /></li>
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Knirscherschiene.jpg/800px-Knirscherschiene.jpg" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
    
    <div class="product">
  <div class="info-large">
    <h4>Boxing Gloves</h4>
  <div class="sku">
                PRODUCT SKU: <strong>89356</strong>
  </div>
  <div class="price-big">
       <span>$50</span> $39
    </div>
               
  <h3>COLORS</h3>
  <div class="colors-large">
       <ul>
       <li><a href="" style="background:#222"><span></span></a></li>
  <li><a href="" style="background:#6e8cd5"><span></span></a></li>
         <li><a href="" style="background:#f56060"><span></span></a></li>
         
  <li><a href="" style="background:#44c28d"><span></span></a></li>
             </ul> 
  </div>
  <h3>SIZE</h3>
    
  <div class="sizes-large">
           <span>One Size</span>         
  </div>
  <button class="add-cart-large">Add To Cart</button>               
          </div>
  
     <div class="make3D">
     <div class="product-front">
         <div class="shadow"></div>
         <img src="https://c.pxhere.com/photos/d4/99/box_gloves_blue_training_thai_boxing_thailand_ring_fight-653767.jpg!d" alt="" />
  
   <div class="image_overlay"></div>
        <div class="add_to_cart">Add to cart</div>
                  <div class="view_gallery">View gallery</div>
       <div class="stats">        	
       <div class="stats-container">
                          <span class="product_price">$39</span>
                          <span class="product_name">Boxing Gloves</span>    
                          <p>Play On</p>                       
         
  <div class="product-options">
       <strong>SIZES</strong>
       <span>One Size</span>
       <strong>COLORS</strong>
       <div class="colors">
       <div class="c-blue"><span></span></div>
                              
  <div class="c-red"><span></span></div>
  <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
  </div>
  </div>                       
  </div>                         
  </div>
  </div>
             
  <div class="product-back">
       <div class="shadow"></div>
       <div class="carousel">
           <ul class="carousel-container">
            
    </div>         
  <li><img src="https://c.pxhere.com/photos/d4/99/box_gloves_blue_training_thai_boxing_thailand_ring_fight-653767.jpg!d" alt="" /></li>
  <li><img src="https://c.pxhere.com/photos/d4/99/box_gloves_blue_training_thai_boxing_thailand_ring_fight-653767.jpg!d" alt="" /></li>
  <li><img src="https://c.pxhere.com/photos/d4/99/box_gloves_blue_training_thai_boxing_thailand_ring_fight-653767.jpg!d" alt="" /></li>
  </ul>
  <div class="arrows-perspective">
                          <div class="carouselPrev">
  <div class="y"></div>
  <div class="x"></div>
  </div>
  <div class="carouselNext">
      <div class="y"></div>
      <div class="x"></div>
      </div>
      </div>
      </div>
  <div class="flip-back">
      <div class="cy"></div>
      <div class="cx"></div>
      </div>
      </div>	  
      </div>	
      </div>
    
    
    
    
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="menu.js"></script>
  
   

