<html>
  <!-- Home Page-->
<head>

<meta charset="utf-8">
<title>Epic Wins</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/EpicWins.css" />

</head>

<body>
    <!-- Header -->

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <!-- Button directs you to product page --> 
      <a href="/product" class="button-main"> EVERYTHING YOU WANT </a>
      <h1></h1>
      <h1> 50% OFF </h1>
      <h1> SALE ENDS TODAY </h1>
      <h2> HURRY AND SHOP NOW!!!</h2>
      <h2> FREE SHIPPING ON YOUR FIRST ORDER</h2>

  <!-- Social Media --> 

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.facebook.com/wins.sporting.5" class="fa fa-facebook"></a>
<a href="https://twitter.com/EpicwinsO" class="fa fa-twitter"></a>
<a href="https://www.instagram.com/epicwins_offical/" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>

  <!-- More options to go to product page -->
  <div class="supporting">
    <div class="container">
      <div class="col">
        <img src="https://garagegympower.com/wp-content/uploads/2018/01/workout-shoes-close-up.jpg">
        <h2> THE BEST BRANDS</h2>
        <p>APPAREL AND FOOTWEAR</p>
        <a href="/product" class="button-default">Go</a>
        
      </div>
      <div class="col">
          <img src="https://media.defense.gov/2015/Dec/23/2001328572/1088/820/0/151220-D-HQ914-017.JPG">
        <h2>THE BEST TEAMS</h2>
        <p> LOWER PRICES </p>
        <a href="/product" class="button-default">Go</a>
      </div>
      <div class="col">
          <img src="https://sports-isao.org/site/wp-content/uploads/2016/10/1442948352391.jpg">
        <h2>THE BEST SPORTS</h2>
        <p>ALWAYS ROOTING FOR YOU</p>
        <a href="/product" class="button-default">Go</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- footer -->

  <div class="footer">
    <div class="container">
      <p style="text-align: center;">&copy; EpicWins 2019-2020</p>
    </div>
  </div>
  
</body>

</html>

<!-- Main Page Credit:  
Credits to: w3schools.com 
-->