<!-- Partial header for the website pages -->

<!-- HTML start -->
<button onclick="myFunction()" class="dropbutton"> <a href="/">Epic Wins</a></button>
<button onclick="myFunction()" class="dropbutton"> <a href="/product">Product</a></button>
<button onclick="myFunction()" class="dropbutton"> <a href="/contact">Contacts</a></button>
<button onclick="myFunction()" class="dropbutton"> <a href="/signup">Sign Up</a></button>
 <!-- HTML ends -->